doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
        meta(keywords="")
        meta(description="")
        link(href="/resources/css/seckill/common/reset.css", rel="stylesheet")
        link(href="/resources/dep/ECar/modal/css/ECar.modal.css", rel="stylesheet")
        link(href="/resources/css/seckill/Activity_detail_PC/select.css", rel="stylesheet")
        link(href="/resources/css/seckill/Activity_detail_PC/Activity_detail.css", rel="stylesheet")
        link(href="/resources/css/seckill/Activity_detail_PC/Address_info.css", rel="stylesheet")

        title 秒杀活动页
    body
        include detail_head.jade
        include detail_main.jade
        include detail_layer.jade
        script(src="http://s1.cximg.com/cxlib/assets/js/jQuery/jquery-1.11.3.min.js", type="text/javascript")
        script(src="/resources/dep/Ecar/countDown.js", type="text/javascript")
        script(src="/resources/js/seckill/seckill_ajax.js", type="text/javascript")
        script(src="/resources/dep/ECar/modal/ECar.modal.js", type="text/javascript")
        script(src="/resources/dep/ECar/ECar.reg-1.0.min.js", type="text/javascript")
        script(src="/resources/js/seckill/moudle/select.js", type="text/javascript")
        script(src="/resources/js/seckill/seckill_detail.js", type="text/javascript")
      
